.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 672px;
    height: 672px;
    border: 1px solid;
}

.inside-div {
    border: 1px solid;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}